.footer {
  padding-top: 126px;
  margin-bottom: 96px;
}

.footer p {
  font-size: 17px;
  line-height: 31px;
  color: $color-blackopac07;
  text-align: center;
  margin: 30px auto 38px auto;
  width: 40%;
}

.footer__map {
  color: $color-white;
  background: url("../img/desktop-map@1x.png") no-repeat top center;
  background-size: cover;
  width: 957px;
  min-height: 530px;
  margin: auto;

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background: url("../img/desktop-map@2x.png") no-repeat top center;
    background-size: cover;
  }
}

.footer__map iframe {
  display: block;
  border: none;
  width: 957px;
  margin: auto;

  @media (max-width: $tablet-width-max) {
    width: 100%;
    padding: 0 35px;
  }

  @media (max-width: $mobile-width-max) {
    padding: 0;
  }
}

.footer__list {
  @include no-list;
  font-size: 16px;
  line-height: 22px;
  color: $color-blackopac05;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 36px;

  @media (max-width: $mobile-width-max) {
    flex-direction: column;
    align-items: center;
  }
}

.footer__item:not(:last-child) {
  margin-right: 70px;
}

.footer__item a {
  padding: 10px 30px;
  margin: auto;
  &:hover,
  &:focus {
    opacity: 0.5;
  }

  &:active {
    color: $color-blue;
    opacity: 1;
  }
}

.footer__item svg {
  fill: none;
}
