.service {
  color: $color-white;
  background: url("../img/desktop-background@1x.jpg") no-repeat top center;
  background-size: cover;
  background-color: $color-black;
  min-height: 825px;
  padding-top: 318px;
  padding-bottom: 175px;

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background: url("../img/desktop-background@2x.jpg") no-repeat top center;
    background-size: cover;
    min-height: 100%;
  }

  @media (max-width: $tablet-width-max) {
    background-image: none;
    background-color: transparent;
    padding: 0;
  }
}

.service__wrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0 19.4% 45px 19.4%;

  @media (max-width: 1350px) {
    padding-left: 9%;
    padding-right: 9%;
  }

  @media (max-width: $tablet-width-max) {
    flex-direction: column;
    padding: 0;
  }
}

.service__info {
  width: 400px;

  @media (max-width: $tablet-width-max) {
    width: 100%;
    height: 100%;

    @media (max-width: $tablet-width-max) {
      background: url("../img/tablet-background@1x.jpg") no-repeat top center;
      background-size: cover;
      background-color: $color-black;

      @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
        background: url("../img/tablet-background@2x.jpg") no-repeat top center;
        background-size: cover;
      }
    }

    @media (max-width: $mobile-width-max) {
      background: url("../img/mobile-background@1x.jpg") no-repeat top center;
      background-size: cover;
      height: 390px;

      @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
        background: url("../img/mobile-background@2x.jpg") no-repeat top center;
        background-size: cover;
      }
    }
  }
}

.service__link {
  display: block;
}

.service__link img {
  display: block;

  @media (max-width: $tablet-width-max) {
    margin: 13px 22px;
  }

  @media (max-width: $mobile-width-max) {
    margin: 25px 17px;
  }
}

.service__text {
  margin-top: 30px;

  @media (max-width: $tablet-width-max) {
    text-align: center;
    margin-top: 89px;
    margin-bottom: 80px;
    // margin-left: 35px;
    // margin-right: 35px;
  }

  @media (max-width: $mobile-width-max) {
    margin-top: 76px;
  }
}

.service__text b {
  font-size: 46px;
  line-height: 64px;

  @media (max-width: $tablet-width-max) {
    font-size: 30px;
    line-height: 42px;
  }
}

.service__text p {
  font-size: 20px;
  line-height: 32px;
  font-weight: 300;
  color: $color-whiteopac08;
  margin-top: 25px;

  @media (max-width: $tablet-width-max) {
    font-size: 18px;
    width: 50%;
    margin: 20px auto;
  }

  @media (max-width: $mobile-width-max) {
    width: 85%;
    margin-top: 18px;
  }
}

.service__form {
  width: 327px;

  @media (max-width: $tablet-width-max) {
    width: 324px;
  }

  @media (max-width: $mobile-width-max) {
    width: 288px;
  }
}
