.service {
  color: $color-white;
  background: url("../img/desktop-background@1x.jpg") no-repeat top center;
  background-size: cover;
  min-height: 825px;
  padding-top: 318px;
  padding-bottom: 150px;

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background: url("../img/desktop-background@2x.jpg") no-repeat;
    background-size: cover;
  }

  @media (max-width: $tablet-width-max) {
    background: url("../img/tablet-background@1x.jpg") no-repeat top center;
    min-height: 340px;
    padding: 0;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background: url("../img/tablet-background@2x.jpg") no-repeat;
    }
  }

  @media (max-width: $mobile-width-max) {
    background: url("../img/mobile-background@1x.jpg") no-repeat top center;
    min-height: 390px;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background: url("../img/mobile-background@2x.jpg") no-repeat;
    }
  }
}

.service__wrap {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding-bottom: 80px;

  @media (max-width: $tablet-width-max) {
    flex-direction: column;
  }
}

.service__info {
  width: 45%;

  @media (max-width: $tablet-width-max) {
    width: 100%;
  }
}

.service__text {
  @media (max-width: $tablet-width-max) {
    text-align: center;
  }
}

.service__text b {
  font-size: 46px;
  line-height: 64px;

  @media (max-width: $tablet-width-max) {
    font-size: 30px;
    line-height: 42px;
  }
}

.service__text p {
  font-size: 20px;
  line-height: 32px;
  font-weight: 300;
  color: $color-whiteopac08;

  @media (max-width: $tablet-width-max) {
    font-size: 18px;
  }
}
